.mainContainer {
  background: #000A12;
  padding: 1.1% 1%;
  font-family: $workSans;
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Bars {
      padding-top: 5px;
      .bars-icon {
        color: white;
        font-size: 1.4rem;
      }
    }

    .Links {
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      a.active{
        border-bottom: 3px solid #00E6BC;
      }

      img{
        width: 120px;
        height: auto;
      }
      .Groa-NavLink {

        &:hover {
          color:white;
          text-decoration: underline;
        }
      }
      .NavLink {
        color: white;
        text-decoration: none;
        padding-top: 1%;
    
        &:hover {
          color:white;
          text-decoration: underline;
        }
      }
       
    }
    button {
      white-space: nowrap;
      font-size: 1rem;
      padding: 0.6rem 1.2rem;
      margin: 0 5%;
      border-radius: 5px;
    }
    .searchContainer {
      width: 11.5%;
      display: flex;
      justify-content: space-between;
    }

    .searchBox {
      padding: 7px;
      border-radius: 5px;
    }
    .fa-icons {
      padding-top: 5px;
      width: 14%;
      display: flex;
      justify-content: space-between;
      font-size: 1.4rem;
      color: white;
    }
  }
  .hidden,
  .searchContainer.hidden {
    display: none;
  }
  .dropdown-hover {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    .dropdown-content {
      display: none;
    }
    &:hover {
      .dropdown-content{
        display: block;
        position: absolute;
        bottom: -15px;
        .NavLink {
          text-align: end;
          color: white;
          text-decoration: none;
          font-size: 1.1rem;
          &:hover {
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }

}
