.container.register-component,
.container.login-component {
  font-family: $workSans;
  height: 102vh;
  color: black;
  background: #F4F4F4;

  .onboarding-nav {
    display: flex;
    justify-content: flex-end;
    padding: 0.5% 1%;
  }

  .box-container {
    display: flex;
    margin: 7% auto;
  }

  .box-left {
    width: 40%;
    margin: auto;
    
    h1{
      font-size: 80px;
    }
     h5{
      padding: 15px;
      font-size: 28px;
      padding-top: 40px;
     }
      .logo {
        width: 100%;
        max-width: 530px;
        height: 378px;
        padding-top: 35px;
      }
  }

  .box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 3%;
    border-radius: 4px;
    background: white;
    width: 100%;
    max-width: 518px;
    height: 550px;

    .form {
      margin: auto;
      padding: 3%;
      max-width: 393px;
      width: 100%;
    }

    .form-control {
      border-radius: 4px;
      border: 1px solid #D8D8D8;
      max-width: 370px;
      width: 100%;
      height: auto;
      padding: 2.7%;
      margin: 2.6% auto;
      margin-bottom: 30px;
      color: black
    }
    input::placeholder {
      font-size: 1.1rem;
      color:#D8D8D8;
    }

    .bottom-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 3% 0;
    
      .check-box-container {
       display: flex;
       flex-direction: row;
        align-items: center;
        p {
          color:black;
        }
      }

      .btn-container {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        
        .signup-btn,
        button.login-btn {
          align-self: end;
          border: none;
          width: 100%;
          max-width: 115px;
          height: 36px;
          border-radius: 4px;
          background: #00E6BC;
          color: black;
          font-size: 14px;
        }
      }
    }
    .bottomAccount{
      display: flex;
      flex-direction: column;
      padding: 30px;
      
      .loginAccount {
        text-align: center;
        color: #2477E5;
        font-size: 18px;
      }
    }
    .callingError {
      color: red;
      display: flex;
      justify-content: center;
    }
  }
}
