.container.register-component,
.container.login-component {
  font-family: $workSans;
  color: $white;
  background: $black;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;

  .onboarding-nav {
    color: $white;
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: flex-end;
    padding: 1.1% 1%;
  }
  .box-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
  }
  .box-left {
    width: 45%;
    margin: 0 1%;
    @include display-flex();
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;

    .text-container {
      white-space: nowrap;
      h1 {
        font-size: 5vw;
      }
      h5 {
        font-size: 1.5vw;
        font-weight: normal;
        padding-top: 2rem;
      }
    }
     .image-wrapper {
       width: 75%;
       padding: 5% 0;
      .logo {
        width: 100%;
      }
    }
  }

  .box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 3%;
    border-radius: 4px;
    background: white;
    width: 100%;
    max-width: 518px;
    height: 550px;

    .form {
      margin: auto;
      padding: 3% 0;
      max-width: 320px;
      width: 100%;
      color: $black;
    }

    .form-control {
      border-radius: 4px;
      border: 1px solid #D8D8D8;
      max-width: 320px;
      width: 100%;
      height: auto;
      padding: 2.7% 1.7%;
      margin: 2.6% auto;
      margin-bottom: 1rem;
    }
    input::placeholder {
      font-size: 1.1rem;
      color:#D8D8D8;
    }

    .bottom-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 3% 0;
    
      .check-box-container {
       display: flex;
       flex-direction: row;
       padding-top: 13px;
       align-items: center;
        p {
          color:black;
          white-space: nowrap;
        }
      }

      .btn-container {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 15px;
        
        .signup-btn,
        button.login-btn {
          align-self: end;
          border: none;
          width: 100%;
          max-width: 115px;
          height: 36px;
          border-radius: 4px;
          background: #00E6BC;
          color: black;
          font-size: 14px;
        }
      }
    }
    .bottomAccount{
      display: flex;
      flex-direction: column;
      padding: 30px;
      
      .loginAccount {
        text-align: center;
        color: #2477E5;
        font-size: 18px;
      }
    }
    .callingError {
      color: red;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 1068px) {  
    .box-container {
      flex-direction: column;
      align-items: center;
      .box-left {
        width: 80%;
        margin: 0;
        padding: 0;
        .text-container{
          margin: 0 auto;
          width: 100%;
          h1 {
            font-size: 10vw;
          }
          h5 {
            font-size: 3vw;
            font-weight: normal;
            padding-top: 2rem;
          }
        }
        .image-wrapper {
          width: 100%;
        }
      }
      .box-right {
        width: 100%;
        margin: 0;
        padding: 0;
        .form {
          width: 80%;
        }
      }
    }
  
  }
}
