html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
  
  @-webkit-keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @-o-keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @keyframes flexGrow {
    to {
      flex: 1;
    }
  }
  @-webkit-keyframes flexShrink {
    to {
      flex: .01;
      flex: .00001;
    }
  }
  @-o-keyframes flexShrink {
    to {
      flex: .01;
      flex: .00001;
    }
  }
  @keyframes flexShrink {
    to {
      flex: .01;
      flex: .00001;
    }
  }
}
