// use as a function and update the varibales $j and $a to what you need them.
@mixin display-flex($j: center, $a: center) {
  display: flex;
  justify-content: $j;
  align-content: $a;
}

@mixin radius($r: 4px) {
  border-radius: $r;
}

// great to use on images or general containers you'd like to be responsive
@mixin responsive-container($mwidth: 500px, $width: 100%, $height: auto) {
  width: $width;
  max-width: $mwidth;
  height: $height;
}
