.register-nav {
  font-family: lato;
  margin: 1% 5%;
  
  .login-link {
    width: 100%;
    max-width: 53px;
    height: auto;
    font-size: 22px;
    

    color: white;
    text-decoration: none;
    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }
}
