.register-nav {
  font-family: lato;
  display: flex;
  justify-content: flex-end;
  background: black;
  .login-link {
    width: 100%;
    max-width: 53px;
    height: auto;
    font-size: 20px;
    margin: 3% 2%;

    color: white;
    text-decoration: none;
    &:hover {
      color: aqua;
      text-decoration: underline;
    }
  }
}
