//BACKGROUND - App2
.App2{
     background: linear-gradient(to bottom, black 0%,  rgba(0, 0, 0, .9),
     rgba(0, 0, 0, .70),rgba(0, 0, 0, .85));

    border: 2px solid red;
 }

.LoginForm{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
}

.form{
    display: flex;
    flex-direction: column;
    width: 300px;
  }

.input{
    padding: 7px;
    margin: 7px;
    background:#C4C4C4;
}
.btnLogin{
    width: 115px;
    height:36px;
    background:#7A7A7A;
    color: white;
    border-radius: 4px;
}
