//BACKGROUND - App2

.LoginPage{
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    min-height: 100vh;  
    background-image: linear-gradient(to bottom, black 0%,  rgba(0, 0, 0, .9),
    rgba(0, 0, 0, .70),rgba(0, 0, 0, .85));
}

.container{
    width: 100%;
}

.bartop{
    display: flex;
    justify-content: space-between;
    height: 150px;
    //border: 2px solid green;
   
        .Logo{
            color: white;
            padding: 3% 0 0 0%;
            height: 60%;
            //border: 2px solid red;
            
        }
        .Register{
            color: white;
            padding: 3% 0 0 4%;
            //border: 2px solid red;
        }
    }
 
    

.Middle{
    display: flex;
  
//Text Motto - your movies your way.
    .boxLeft{
        color: white;
        font-size: 300%;
        width: 70%;
        //border: 2px solid blue;

        .Text{
            margin: 0 0 0 1px;
            //margin: 0 0 0 13%;
        }


        }
// 2 GRAY BOXES - needs work, changes location per monitor size.
      
        .box1{
            //margin: -12% 2% 2% 0;
            background:rgb(97, 97, 97);
            width: 407px;
            //width:536px;
            height: 436px;
        }
        .box2{
            margin: -30% 0 0 27%;
            color: black;
            background: #C4C4C4;
            width: 407px;
            height: 284px;


//TEXT- Groa Helps you....So you can...
            .box2b{
               
                justify-content: center;
                padding: 35px 15px 15px 15px;
                //border: 2px solid red;
            }
            .h6text1{
                padding:0 8px 30px 8px;
                font-size: 35px;
                font-weight: normal;
                text-align: center;
                //border: 2px solid purple;
            }

            .h6text2{
                font-size: 30px;
                font-weight: 640;
                text-align: center;
                //border: 2px solid purple;
            }
        }
}

.boxRight{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    //border: 2px solid red;

    //////// Login Form /////////////////
    .LoginForm{
        display: flex;
        flex-direction: column;
        width:518px;
        height:589px;
        background: #FFFFFF;
    }

}
    
          

.textlogin{
    margin: 2% 8% 2% 8%;
}

//TEXT REMEMBER, FORGOT PASSWORD?
.TextandCheck{
    display: flex;
    // justify-content: space-evenly;
    
    .TextandCheck2{
        padding-left: 145px;
        
    }
    .CheckBoxContainer{
        padding: 20px 15px 0 60px;
        padding-top: 20px;
        
    }

    .Checkbox{
        width: 20px;
        height: 20px;
        }

}

.textOr{
display: flex;
justify-content: center;

}




//input fields
.input1{
    padding: 7px;
    margin: 2% 12% 2% 12%;
    border: 1px solid black;
    border-radius: 4px;
}

.input2{
    padding: 7px;
    margin: 2% 12% 2% 12%;
    color: white;
}
.error{
    color: red;
}

.BtnContainer{
display: flex;
justify-content: flex-end;

}


.BtnLoginWith{
    margin: 1% 12% 3% 12%;
    padding: 8px;
    background:#7A7A7A;
    border-radius: 4px;
    color: white;
}

.BtnLogin{
    margin: 4% 12% 0 0;
    width: 115px;
    height:36px;
    background:#21242C;
    color: white;
    border-radius: 4px;
}


