.PostLoginPage{
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}

.textholder1{
    
   justify-content: center;
   border: 2px solid green;
   
        h1{
            display: flex;
            justify-content: center;
            font-size: 350%;
        }

        h2{
            display: flex;
            justify-content: center;
        }z

        h3{
            display: flex;
            justify-content: center;
        }
}

.image1{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 200px;
    background: gray;
    margin-bottom: 8%;
}

.image2{
    height: 100px;
    width: 200px;
    background: gray;
}


.container{
    display: flex;
    flex-direction: column; 
    width: 90%;
    border: 2px solid red;
}

.boxContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
   border: 2px solid blue;

    .boxLeft{
        width:  285px;
        height: 500px;
        margin-right: 20%;
        border: 2px solid black;

       .boxInside{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 25px;   
        }

        .holder{
            display: flex;
            justify-content: center;
        }   
    }
    
    .boxRight{
        width:  285px;
        height: 400px;
        // margin-left: 40%;
        border: 2px solid black;

        .boxInside{
            display: flex;
            flex-direction: column;
            padding: 25px;

            .holder{
                display: flex;
                justify-content: center;
            }
        }
    }

}

.movie-input{     
    padding: 10px;
    background: gray;
    width: 300px;
}

.btn{
    color: white;
    font-size: 25px;
    background: black;
    height: 51px;
    width: 255px;
}