.container.post-login {
  background: white;
  color: black;
  header {
    margin: 0% auto;
    text-align: center;
    h1 {
      font-size: 4rem;
      margin-top: 2.75%;
    }
    p {
      font-size: 1.75rem;
      margin: 2.24% auto;
      line-height: 2.15rem;
      width: 100%;
      max-width: 425px;
      height: 68;
      text-align: center;
    }
  }
  .choice-selection-container {
    text-align: center;
    h2 {
      font-size: 2.5rem;
      margin: 2% 0% 4.25% 0%;
    }
    .choice-selection {
      margin: auto;
      width: 71%;
      display: flex;
      justify-content: space-around;
      .choice-box {
        width: 35%;
        max-width: 287px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h4 {
          font-size: 1.75rem;
          font-weight: bold;
          margin-bottom: 27px;
        }
        .img-box {
          width: 100%;
          max-width: 285;
          height: auto;
        }
        .select-btn {
          width: 100%;
          max-width: 287px;
          height: 51px;
          margin-top: 32px;
          justify-content: flex-end;
          font-size: rem;
          border: none;
          font-size: 1.75rem;
          color: white;
          background: #21242c;
          &:hover {
            color: #21242c;
            background: white;
            border: 1px solid grey;
          }
        }
      }
    }
  }
}
